<div class="" *ngIf="product ">
  <div class="w-2/3 mx-auto  pt-16 lg:pt-16  border-b border-gray-400   pb-20">
    <div class=" flex font-serif text-md lg:text-lg">
      <a href="" class="mr-4">TRANG CHỦ</a>/
      <a href="" class="mx-4 font-bold">SẢN PHẨM</a>
    </div>
    <div class="mt-10 grid grid-cols-1 md:grid-cols-2  ">
      <div class="">
        <div class="w-5/6">
          <img [src]="product.img" alt="">
        </div>
      </div>
      <div class="mt-5 md:mt-10 px-5 md:px-10">
        <div class="font-bold text-lg md:text-xl lg:text-2xl text-gray-600">
          {{product.name}}
        </div>
        <div class="w-2/12 border-b-4 border-gray-300 mt-2">

        </div>
        <div class="mt-5 md:mt-10 text-lg md:text-xl lg:text-2xl font-semibold text-red-600">
          {{product.price}} $
        </div>
        <div class="mt-2 md:mt-3 text-gray-500 leading-7">
          {{product.description}}
        </div>
        <div class="flex mt-5 md:mt-10 lg:mt-16">
          <input type="number" value="1" class="border border-gray-700 p-1 w-1/5">
          <button class="ml-3 md:ml-5 lg:ml-6 bg-yellow-600 px-3 text-white font-medium" id="add"
            data-id="${product.id}">MUA HÀNG</button>
        </div>
      </div>
    </div>
  </div>
</div>
